<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天天生鲜主页</title>
    <link rel="stylesheet" href="../static/css/index.css" type="text/css">
</head>
<body>
    <div id="container">
        <!--1.导航-->
        <div id="nav">
            <!--1.1右侧导航-->
            <ul class="rightNav">
                <li>
                    <a href="/login/">[登录]</a>
                    <a href="/register/">[注册有惊喜]</a>
                </li>
                <li>
                    <a href="">果园公告</a>
                </li>
                <li>
                    <a href="">券卡兑换</a>
                </li>
                <li class="lastItem">
                    <a href="">手机果园</a>
                </li>
            </ul>
            <!--1.2左侧导航-->
            <ol class="leftNav">
                <li>
                    <span>上海</span>
                    <i></i>
                </li>
                <li>满百包邮(郊环内)</li>
                <li>
                    <a>星夜达</a>
                </li>
            </ol>
        </div>
        <!--2.横幅banner-->
        <div id="banner">
            <img src="../static/images/banner1.jpg" id="lbt">
        </div>
        <!--3.推荐-->
        <div id="commend">
            <a href="">
                <img src="../static/images/2ba20598135dbba5e97d241ebfa167d9.jpg" alt=""/>
            </a>
            <a href="">
                <img src="../static/images/25af37592bf484fbeaef1cc4ff1e09c7.jpg" alt=""/>
            </a>
            <a href="">
                <img src="../static/images/904419aa2e364412b3c07c3cbda24ef9.jpg" alt=""/>
            </a>
            <a href="">
                <img src="../static/images/d72b849b461c08d991c265df00a1bfde.jpg" class="lastItem">
            </a>
        </div>
        <!--4.主体-->
        <div id="main">
            <!--主体分为若干品类，每一类结构与样式一致-->
            <div class="goodsType">
                <!--礼品卡券中分为上下两部分-->
                <p>
                    <img src="../static/images/t4.png">
                    <a href="">更多</a>
                </p>
            </div>
            <div class="goodsInfo">
                <div class="item">
                    <img src="../static/images/1-270x270-3877-BXDY6KCU.jpg">
                    <a href="">
                        <img src="../static/images/cart.png" alt=""/>
                    </a>
                    <p>欢乐时光水果礼篮</p>
                    <span>&yen;188.00/1份</span>
                </div>
                <div class="item">
                    <img src="../static/images/1-270x270-2109-SDK5WUW8.jpg">
                    <a href="">
                        <img src="../static/images/cart.png" alt=""/>
                    </a>
                    <p>真心祝福水果礼篮</p>
                    <span>&yen;358.00/1份</span>
                </div>
                <div class="item">
                    <img src="../static/images/1-270x270-2114-226C8S26.jpg">
                    <a href="">
                        <img src="../static/images/cart.png" alt=""/>
                    </a>
                    <p>深情厚意水果礼篮</p>
                    <span>&yen;558.00/1盒</span>
                </div>
                <div class="item">
                    <img src="../static/images/1-270x270-695-F2BSB4DC.jpg">
                    <a href="">
                        <img src="../static/images/cart.png" alt=""/>
                    </a>
                    <p>天天果园100元充值卡</p>
                    <span>&yen;100.00/1张</span>
                </div>
                <div class="item no-margin">
                    <img src="../static/images/1-270x270-701-CB41CHUW.jpg">
                    <a href="">
                        <img src="../static/images/cart.png" alt=""/>
                    </a>
                    <p>天天果园500元充值卡</p>
                    <span>&yen;500.00/1张</span>
                </div>
                <div class="item">
                    <img src="../static/images/1-270x270-430-9RBRWTU9.jpg">
                    <a href="">
                        <img src="../static/images/cart.png" alt=""/>
                    </a>
                    <p>关怀备至礼盒</p>
                    <span>&yen;198.00/1盒</span>
                </div>
                <div class="item">
                    <img src="../static/images/1-270x270-435-8829CP99.jpg">
                    <a href="">
                        <img src="../static/images/cart.png" alt=""/>
                    </a>
                    <p>万事如意礼盒</p>
                    <span>&yen;198.00/1盒</span>
                </div>
                <div class="item">
                    <img src="../static/images/1-270x270-435-8829CP99.jpg">
                    <a href="">
                        <img src="../static/images/cart.png" alt=""/>
                    </a>
                    <p>与众不同礼盒</p>
                    <span>&yen;288.00/1盒</span>
                </div>
                <div class="item">
                    <img src="../static/images/1-270x270-2163-8PBW628F.jpg">
                    <a href="">
                        <img src="../static/images/cart.png" alt=""/>
                    </a>
                    <p>团聚礼盒</p>
                    <span>&yen;168.00/1盒</span>
                </div>
                <div class="item no-margin">
                    <img src="../static/images/1-270x270-27316-F2BUCPRH.jpg">
                    <a href="">
                        <img src="../static/images/cart.png" alt=""/>
                    </a>
                    <p>诚心诚意礼盒提货券</p>
                    <span>&yen;178.00/1张</span>
                </div>
            </div>
        </div>
        <!--5.底部-->
        <div id="footer"></div>
    </div>
</body>
</html>